.btn {
	@include font(16px, 700, 1.87, 0.06em);
	border-radius: 4px;
	border-color: transparent;
	cursor: pointer;
	font-family: inherit;
	background-color: $accent-color;
	color: $primari-white-color;
}
