html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: $primari-white-color;
	color: $title-text-color;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
